
body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 72px;
	text-align: center;
	padding: 125px;
}

.card {
	padding: 25px;
}

.card img {
	width: 125px;
}

#banner{
	text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://picsum.photos/1200/1300?grayscale);
	background-size: cover;
	color: white;
	height: 95vh;
}


#footer {
  background: RGBA(44, 50, 55, 1.00);
  padding: 35px;
  color: white;
  text-align: center;
}